.background-image {
  background-image: url("./assests/backgroundFlight.png");
  background-size: cover;
  min-height: 100vh;
  /* opacity: 0.5; */
}

/* .top-image { */
/* : url("./assests/top.png"); */
/* image
  min-height: 112px;
  width: full;
} */
.btn-save {
  margin-top: 30px;
  height: 40%;
  position: relative;
  left: 40%;
  width: 10%;
  border: 3px solid;
  font-size: large;
}
